---
title: EDUCON 2026にてLLMを用いたUML図の検証手法に関する論文がアクセプト
date: 2026-01-21
authors: ["admin"]
description: 大規模言語モデルを用いたUML図の検証手法に関する論文がEDUCON 2026にアクセプトされました。
---

M1の根岸さんの論文がIEEE Global Engineering Education Conference (EDUCON 2026)にアクセプトされました！ ソフトウェアの振る舞いを描いた図面（モデル）を学ぶ人を対象に、手書きの図面をアプリで実行できるようにすることで学びを促進する研究です。具体的には大規模言語モデルを用いてUML図を実行可能にしています。2026年4月にエジプトで発表予定です。

## 論文情報

**Masaaki Negishi, Kenji Hisazumi**, "Verification Method of UML Diagrams Using Large Language Models," The IEEE Global Engineering Education Conference (EDUCON 2026), 2026.
